<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Me contacter</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/default-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/contact-style.css') }}">
</head>
<body>
    <header>
        {% include "header.html" ignore missing %}
    </header>
    <main>
        <form name="contact-form" id="contactForm">
            <div>
                <div class="input">
                    <div class="label">
                        <label for="name">Nom :</label>
                        <input id="name" type="text" name="nom" placeholder="Votre nom" autofocus required>
                    </div>
                    <div class="label">
                        <label for="prenom">Prénom :</label>
                        <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" required>
                    </div>

                </div>
                <div class="input">
                    <div class="label">
                        <label for="email">Adresse mail :</label>
                        <input type="email" name="email" id="email" placeholder="Votre adresse mail" required>
                    </div>
                    <div class="label">
                        <label for="num">Votre numéro de téléphone :</label>
                        <input type="tel" name="num" id="num" pattern="0[1-9](?:[0-9]{2}){4}" placeholder="Votre numéro de téléphone">
                    </div>
                </div>
                <div class="label">
                    <label for="message">Écrivez votre message :</label>
                    <textarea name="message" id="message" required></textarea>
                </div>
                <button type="submit" class="for">Envoyer</button>
            </div>
        </form>
    </main>
    <footer class="petit">
        {% include "footer.html" ignore missing %}
    </footer>
</body>
<script type="module" src="{{ url_for('static', path='js/contact.js') }}"></script>
</html>
