<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>

<body>
<header>
    {% include "header.html" ignore missing %}
</header>

<main class="layout">
    <!-- ===== PROFIL ===== -->
    <aside class="informations">
        <div class="profile-box">
            <img class="profile" src="{{ url_for('static', path='img/moi.jpeg') }}" alt="Photo de Maxime Rastelli">

            <div class="links">
                <a href="get_pdf/CV.pdf">📄 CV</a>
                <a href="https://www.linkedin.com/in/maxime-rastelli-19146b290/">🔗 LinkedIn</a>
                <a href="https://github.com/sogata-aw">💻 GitHub</a>
            </div>
        </div>
    </aside>

    <div class="content">
        <section>
            <h2>À propos de moi</h2>
            <p class="apropos">
                J'ai 20 ans et je suis actuellement sur la fin de mes études en BUT Informatique.
                J'aspire à me spécialiser dans le développement côté Back-end car de mon point de vue, c'est ici qu'on trouve les fonctions les plus intéressantes à coder.
            </p>
        </section>

        <!-- ===== PROJETS ===== -->
        <section class="projet index">
            <h2>Projets récents</h2>

            <div class="projet-list">
                {% for project in projects %}
                    <div class="projet-item">
                        <a href="/projects#p{{ project.id }}">
                            <div class="projet-item">
                                {{ project.nom }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <button id="more"><a href="/projects">En savoir plus</a></button>
        </section>

            <!-- ===== DIPLÔMES ===== -->
        <article class="sec">
            <h2>Mes diplômes</h2>
            <section>
                <ul>
                    <li>Études supérieures</li>
                    <li>Collège et lycée
                        <ul>
                            <li>Baccalauréat Général</li>
                            <li>Brevet des collèges</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </article>

        <!-- ===== LANGAGES ===== -->
        <section>
            <h2>Langages informatiques</h2>
            <div class="programmation">
                {% for language in languages %}
                    <div><img class="logo" src="{{ url_for('static', path=languages[language].url) }}"><p>{{ languages[language].name }}</p></div>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Framworks et utilitaires informatiques</h2>
            <div class="programmation">
                {% for framework in frameworks %}
                    <div><img class="logo" src="{{ url_for('static', path=frameworks[framework].url) }}"><p>{{ frameworks[framework].name }}</p></div>
                {% endfor %}
            </div>
        </section>

        <!-- ===== SOFT SKILLS ===== -->
        <section>
            <h2>Soft skills</h2>
            <div class="soft-skills">
                <div><img class="logo" src="{{ url_for('static', path='img/crea.png') }}"><p>Créatif</p></div>
                <div><img class="logo" src="{{ url_for('static', path='img/resilient.png') }}"><p>Résilient</p></div>
                <div><img class="logo" src="{{ url_for('static', path='img/ecoute.png') }}"><p>À l’écoute</p></div>
                <div><img class="logo" src="{{ url_for('static', path='img/curieux.png') }}"><p>Curieux</p></div>
            </div>
        </section>

        <!-- ===== EXPÉRIENCES ===== -->
        <article class="sec">
            <h2>Expériences professionnelles</h2>
            <section class="experiences">
                <div class="experience">
                    <span class="title">Stagiaire chez Schneider Electric (EcoStruxure Control Engineering)</span>
                    <span class="details">Grenoble | Mars 2026 – Juin 2026</span>
                </div>

                <div class="experience">
                    <span class="title">Encadrant dans un club de ski</span>
                    <span class="details">Sou des écoles – Saint-Egrève | <span> Décembre 2023 - Mars 2025 <br> Décembre 2024 – Mars 2025 <br> Décembre 2025 – Mars 2026</span></span>
                </div>

                <div class="experience">
                    <span class="title">Stagiaire chez Creative VR 3D</span>
                    <span class="details">Cannes | Avril 2025 – Juin 2025</span>
                </div>
            </section>
        </article>

        <!-- ===== INTÉRÊTS ===== -->
        <article class="sec">
            <h2>Centres d’intérêts</h2>
            <section>    
                <ul>
                    <li>Jeux vidéo</li>
                    <li>Mangas</li>
                    <li>Taekwondo - Ceinture rouge</li>
                </ul>
            </section>
        </article>
    </div>
</main>

<footer>
    {% include "footer.html" ignore missing %}
</footer>
</body>
<script type="module" src="{{ url_for('static', path='js/index.js') }}"></script>
</html>
